name: CI/CD

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: use setup nodejs
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 14.15.0

      - name: install dependency
        run: npm ci
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - uses: actions/checkout@v2
      - name: docker image build
        # run: docker build -t portfolio .

      - name: upload to registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: toinin4795/portfolio
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
